<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= @picture.picurl %>
</p>

<%= link_to 'Edit', edit_album_picture_path(@album, @picture) %> |
<%= link_to 'Back', album_pictures_path %>
